# Node modules
**/node_modules/

# Logs
logs
*.log
npm-debug.log*

# dotenv environment files
.env
**/.env

# MongoDB data (if any local)
data/
**/data/

# Docker
**/mongo-data/ 
.terraform/providers/registry.terraform.io/linode/linode/1.30.0/darwin_amd64/LICENSE
/.terraform
.terraform.lock.hcl
terraform.tfstate
